
#container {
	background-color: lightblue;
	width: 800px;
	padding-top: 30px;
}

#header {
	background-color: green;
	text-align: center;
	color: white;
	font-family: 'Knewave', cursive;
}

#content {
	background-color: orange;
	display: grid;
    grid-template-columns: 600px 180px;
    grid-gap: 10px;
    padding: 5px;
}

#main {
	background-color: blue;
	display: inline-block;
	text-align: justify;
	font-family: 'Original Surfer', cursive;
}

#nav {
	background-color: purple;
	vertical-align: top;
	display: inline-block;
	font-family: 'Original Surfer', cursive;
}

#form {
	background-color: gray;
	text-align: center;
	padding-bottom: 10px;
	font-family: 'Original Surfer', cursive;
}

#footer {
	background-color: black;
	color: white;
	padding-left: 10px;
	font-family: 'Original Surfer', cursive;
}

div#title {
	font-size: 50px;
	padding-top: 5px;
}

div#description {
	font-size: 25px;
	padding-top: 5px;
}

.media {
	text-align: center;
	display: block;
}

iframe {
    border-color: black;
}

table, th, td {
	border: 2px solid purple;
	tab-size: 160px;
	width: 100%;
}

tbody tr:nth-child(even) {
	background: gray;
}

tbody tr:nth-child(odd) {
	background: green;
}


